body{
    background-color:#fff;
    font-family:'Libre Baskerville';
    display:flex;
    flex-direction: column;
    height:100dvh;
    width:100vw;
    row-gap: 120px;
}
#logo-section{
    display:flex;
    margin-left:40px;
    align-items:center;
}
#logo-pic{
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
   
}

hr{
    border:none;
    height:1px;
    background-color:#D9D9D9;
    margin:0;
}
#small-logo{
    margin-left:200px;
    margin-top:8px;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.25));
    animation: upDown 2s infinite ease-in-out;
}
@keyframes upDown{
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
main{
    display:flex;
    flex-direction:column;
    align-items:center;
    row-gap:24px;
}
#buttons-div{
    display:flex;
    gap:610px;
}
button{
    font-family:'Libre Baskerville';
    color:#fff;
    font-weight:normal;
    font-size:24px;
}
.primary-button{
    border:none;
    border-radius:10px;
    background-color:#F3D3BD;
    margin-top:4px;
    margin-bottom:4px;
    margin-right:16px;
    margin-left:4px;
    min-width:240px;
    min-height:42px;
    box-shadow:none;
    transition-property:box-shadow 600ms ease-in-out 200ms ;
}
.primary-button:hover{
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

footer{
    text-align:center;   
}
h1{
    font-weight:normal;
    font-size:48px;
}
h2{
    font-weight:normal;
    font-size:40px;
}
h3{
    font-weight:normal;
    font-size:24px;
    color:#7A7A7A;
}
span{
    color:#D87D62;
}
.p1{
    font-weight:normal;
    font-size:24px;
    color:#1E1E1E
}
.p2{
    font-weight:normal;
    font-size:16px;
    color:#1E1E1E
}
.p3{
    font-weight:normal;
    font-size:12px;
    color:#7A7A7A
}

@media(max-width:1140px){

    #buttons-div{
        display:flex;
        column-gap: 40px;
    }
    h1{
    font-weight:normal;
    font-size:36px;
    }
    h2{
        font-weight:normal;
        font-size:24px;
    }
    h3{
        font-weight:normal;
        font-size:18px;
        color:#7A7A7A;
    }
    span{
        color:#D87D62;
    }
    .p1{
        font-weight:normal;
        font-size:18px;
        color:#1E1E1E
    }
    .p2{
        font-weight:normal;
        font-size:12px;
        color:#1E1E1E
    }
    .p3{
        font-weight:normal;
        font-size:10px;
        color:#7A7A7A
    }
}

@media(max-width:700px){

    #buttons-div{
        display:flex;
        flex-direction: column;
        row-gap: 40px;
    }

    #front-words{
        margin-left: 24px;
        margin-right: 24px;
        text-align: center;
    }



}